body h1{
    background-color: aqua;
    text-align: center;
    font-style: normal;
}
h2{
    background-color: rgb(151, 238, 229);
    text-align: center;
    
}
h3{
    background-color: rgb(241, 192, 243);
    text-align: center;
}



